<header class="navbar navbar-static-top navbar-fixed-top manual-header" role="banner">
    <div class="container" style="position: relative;">
        <div class="navbar-header col-sm-12 col-md-10 col-lg-10">
            <a href="/" class="navbar-brand" title="{{.SITE_NAME}}">
                <div>{{.SITE_NAME}}</div>
            </a>
            <nav class="collapse navbar-collapse">
                <div class="searchbar pull-left">
                    <form class="form-inline" action="" method="get">
                        <input class="form-control" name="wd" type="search"  placeholder="书籍搜索..." value="{{.Keyword}}">
                        <button class="search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
        <nav class="navbar-collapse hidden-xs hidden-sm" style="position: absolute;right: 0px;" role="navigation">
            <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
                <li><a href="/account/regist" title="注册"><i class="fa fa-user-plus"></i> 注册</a></li>
                <li><a href="/account/login" title="登录"><i class="fa fa-sign-in"></i> 登录</a></li>
            </ul>
        </nav>
    </div>
</header>
